<section id="svr-loading">
    <div class="svr-loading-cube">
        <div class="svr-loading-face svr-loading-face-side"></div>
        <div class="svr-loading-face svr-loading-face-side"></div>
        <div class="svr-loading-face svr-loading-face-side"></div>
        <div class="svr-loading-face svr-loading-face-side"></div>
        <div class="svr-loading-face svr-loading-face-top"></div>
        <div class="svr-loading-face svr-loading-face-bottom">44</div>
    </div>
    <p id="svr-loading-message">loading<span class="svr-loading-message-dots">...</span></p>
</section>
