<section class="section-color section-color-complement" id="make">
    <div class="container">
        <h2>Make a Scene</h2>
        <p>
            SceneVR can be embedded into any site or blog. Make your own in four easy steps. <br /> <em>Having trouble? See the <a href="#help">help section below</a>.</em>
        </p>

        <ol class="instructional-steps">

            <li class="step grid">
                <div class="step-number column-2">
                    <h6>Create your spreadsheet</h6>
                </div>
                <div class="step-details column-10">
                    <p>Build a new Google Spreadsheet using our template. You'll need to copy the template to your own Google Drive account by clicking the "Use this template" button.</p>
                    <p>Drop dates, text and links to media into the appropriate columns.
                    <a class="button button-complement" href="https://docs.google.com/spreadsheets/d/1fWdaOBE62qfr3OWZGsPqbF4X-bh_VQJ5U3fbbZbd61U/copy" target="_blank">Get the Spreadsheet Template &nbsp;<span class="icon-new-tab"></span></a>
                    <p class="note">Don't change the column headers, don't remove any columns, and don't leave any blank rows in your spreadsheet.</p>
                </div>
            </li>
            <li class="step grid">
                <div class="step-number column-2">
                    <h6>Publish to the web</h6>
                </div>
                <div class="step-details column-10">

                    <div class="grid">
                        <div class="grid-item">
                            <p>Under the File menu, select “Publish to the Web.”</p>
                            <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_small.png" />
                            <p>In the next window, click the blue "publish" button. When asked, "Are you sure…?" click OK.</p>
                            <p>Now, Copy the URL for your SceneVR from the browser's address bar. It should look something like this:<br />
                             <code>https://docs.google.com/spreadsheets/d/1pBuV46K52elXMC5XUHBK7aPlKc7-w_hdPEf_P2PceCk/edit#gid=0</code>. <p>
                             <p><strong>Disregard</strong> the URL that appears in the "publish to the web" window. </p>
                        </div>
                        <div class="grid-item">
                            <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_button_small.png" />
                            <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_url_small.png" />
                        </div>
                    </div>
                </div>
            </li>
            <li class="step grid">
                <div class="step-number column-2">
                    <h6>Generate your scenes</h6>
                </div>
                <div class="step-details column-10">
                    <p>Copy/paste spreadsheet URL into the box below to generate your story. (Make sure you've published the spreadsheet.)</p>
                    <form id="step-3-form">
                        <div class="grid grid-left ">
                            <div class="input-group-label column-12">
                                <label class="input-group-addon" for="inlinelabel">Google Spreadsheet URL</label>
                                <input id="spreadsheet-input" type="text" placeholder="https://docs.google.com/spreadsheets/d/1bKTDlDbITPvydDr1uHLTHGwszqt-lqsLSc7fpbP7LlE/edit" name="inlinelabel">
                            </div>
                            <div class="input-group-label column-3">
                                <label class="input-group-addon" for="inlinelabel">Width</label>
                                <input type="text" value="100%" placeholder="100%" id="embed-width" class="input-mini">
                            </div>
                            <div class="input-group-label column-3">
                                <label class="input-group-addon" for="inlinelabel">Height</label>
                                <input type="text" value="100vh" placeholder="100vh" id="embed-height" class="input-mini">
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <li class="step grid">
                <div class="step-number column-2">
                    <h6>Share your story</h6>
                </div>
                <div class="step-details column-10">

                    <h6>Share Link</h6>
                    <form>
                      <textarea id="share-link" rows="3" type="text" "readonly" name="textplaceholder" value="" style="height:4rem;">
http://scene.knightlab.com/scene.html?source=1bKTDlDbITPvydDr1uHLTHGwszqt-lqsLSc7fpbP7LlE&width=100%&height=100vh
                      </textarea>
                    </form>

                    <h6>Embed</h6>
                    <p class="small">Grab the embed code and paste it on your site where you want your story to appear (just like a YouTube video). <em>If you're embedding on Medium.com just paste the link from the right where you want it to appear.</em></p>
                    <form>
                        <textarea id="embed" rows="3" readonly="readonly" type="text" name="textplaceholder" value="" style="height:5rem;">&lt;iframe src=&apos;http://scene.knightlab.com/scene.html?source=1bKTDlDbITPvydDr1uHLTHGwszqt-lqsLSc7fpbP7LlE&amp;width=100&amp;height=650&apos;width=&apos;100%&apos;height=&apos;100vh&apos;frameborder=&apos;0&apos;&gt;&lt;/iframe&gt;
                        </textarea>
                    </form>
                    <a id="show-preview" class="button button-complement" href="#preview-embed" target="_blank">Preview</a>&nbsp;
                    <a id="new-window-preview" class="button button-light" href="#" target="_blank">Open Preview in a new window  &nbsp;<span class="icon-new-tab"></span></a>


                </div>
            </li>
        </ol>
    </div>
    <div id="preview-embed" style= "display:none">
        <div class="container">
            <h3>Preview Embed</h3>
        </div>
        <section id="demo" class="container-fluid">
            <div id="preview-embed-iframe" class="product-demo">
                <iframe src="" width="100%" height="650" frameborder="0"></iframe>
            </div>

        </section>
    </div>
</section>
