<nav id="navbar-product-top" class="navbar navbar-dark">
    <ul>
        <li class="logo">
            <a href="http://knightlab.com">
                <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/knightlab-dark.png" />
            </a>
        </li>
    </ul>
    <div class="nav-mobile-menu">
        <button class="button-plain">
            <span class="icon-menu"></span>
        </button>
    </div>
    <ul class="nav-right navbar-nav">
        <li><a class="button button-dark button-small-tablet button-active" href="http://knightlab.northwestern.edu/projects/">Projects</a></li>
        <li><a class="button button-dark button-small-tablet" href="https://studio.knightlab.com/">Class</a></li>
        <li><a class="button button-dark button-small-tablet" href="https://devicelab.knightlab.com">Device Lab</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/posts/">Posts</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://openlab.knightlab.com/">Community</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/about/">About</a></li>
    </ul>
</nav>
