#black-background {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#next {
  position: fixed;
  top: 40vh;
  right: 5vw;
  cursor: pointer;
}

#compass-container {
  position: fixed;
  top: 5vh;
  right: 5vw;
}

#compass {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

#pointer {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  transform-origin: 50% 20px;
}