#ui {
  width: 100vw;
  height: 100vh;
}

#black-background {
  width: 100%;
  height: 100%;
  background-color: #000;
}

#next {
  position: fixed;
  top: 40vh;
  right: 2vw;
  height: 12%;
  cursor: pointer;
}

/*#cardboard{
  position: fixed;
  top: 70vh;
  right: 5vw;
  cursor: pointer;
  height: 13%;
}*/

#fullscreen {
    position: fixed;
    top: 70vh;
    right: 2vw;
    cursor: pointer;
    height: 11%;
}

#compass-container {
  position: fixed;
  top: 5vh;
  right: 5vw;
}

#compass {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
}

#pointer {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid black;
  transform-origin: 50% 130%;
}

#footer {
  height: 10%;
  width: 100%;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #000;
  display: flex;
}

#footer-content {
  color: #fff;
  width: 50%;
  overflow-y: auto;
}

#thumbnails {
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.thumbnail {
  max-height: 7.5vh;
  max-width: 150px;
  flex-grow: 1;
  margin-right: 1vw;
}

.selected-thumbnail {
  border: 1px solid #fff;
}
