
#svr-caption {
    color: $color-light;
    text-shadow: 2px 2px $color-dark;
    @include linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
    padding: $ui-spacing;
    .svr-text {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    p {
        margin:0;
    }
}
