
.svr-caption {
    color: $color-light;
    text-shadow: 1px 1px 3px $color-dark;
    // @include linear-gradient(rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 100%);
    padding: $ui-spacing;
    background-color: rgba($color-dark, 0.8);
    .svr-text {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        h2 {
            margin:0;
            font-weight: 900;
        }
        p {
            margin-top:0;
        }
        a, a:visited, a:link, a:active {
            color: $color-complement--light;
            text-decoration: none;

        }
        a:hover {
            // color: $color-light;
            text-shadow: none;
            text-decoration: underline;
        }
    }


}
