$loading-width: 50px;

#svr-loading {
    width           : 100vw;
    height          : 100vh;
    position        : fixed;
    left            : 0;
    top             : 0;
    display         : flex;
    flex-direction: column;
    justify-content : center;
    align-items     : center;
    opacity         :1;
    background: radial-gradient($color-grey--lightest, $color-grey);
}

#svr-loading-message {
    font-size: 14px;
    color: $color-grey--darker;
    margin-top: $ui-spacing *2;
    .svr-loading-message-dots {
        font-family:monospace;
    }
}

.svr-loading-cube {
    position: relative;
    margin: 0 auto;
    border-radius:50%;
    width: $loading-width;
    height: $loading-width;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: 5s svr-cube-spinner infinite linear;
            animation: 5s svr-cube-spinner infinite linear;

    .svr-loading-face {
        position: absolute;
        width: $loading-width;
        height: $loading-width;
        background: rgba($color-grey--darkest, 0.2);
        border: 1px solid rgba($color-bg-default, 1);

        &.svr-loading-face-bottom {
            display         : flex;
            justify-content : center;
            align-items     : center;
            font-size: 26px;
            color: $color-bg-default;
            font-weight:900;
            text-align: center;
        }
        &:nth-child(1) {
            transform: translateZ($loading-width/2);
        }
        &:nth-child(2) {
            transform: rotateY(90deg) translateZ($loading-width/2);
        }
        &:nth-child(3) {
            transform: rotateY(180deg) translateZ($loading-width/2);
        }
        &:nth-child(4) {
            transform: rotateY(-90deg) translateZ($loading-width/2);
        }
        &:nth-child(5) {
            transform: rotateX(-90deg) translateZ($loading-width/2);
        }
        &:nth-child(6) {
            transform: rotateX(90deg) translateZ($loading-width/2);
        }

    }

}
@-webkit-keyframes svr-cube-spinner {
    from {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
                transform: rotateY(0deg) rotateX(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg) rotateX(360deg);
                transform: rotateY(-360deg) rotateX(360deg);
    }
}
@keyframes svr-cube-spinner {
    from {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
                transform: rotateY(0deg) rotateX(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg) rotateX(360deg);
                transform: rotateY(-360deg) rotateX(360deg);
    }
}
