@import "variables";

body {
	font-size:$font-size-base;
	font-family: $fontFamily-sansSerif;
	line-height: $font-line-height;

}

.hello {
  &:after {
    color: $color-text-default;
  }
}

#ui {
  width: 100vw;
  height: 100vh;
}

#black-background {
  width: 100%;
  height: 100%;
  background-color: $color-dark;
}

#next {
  position: fixed;
  top: 39vh;
  right: 1vw;
  height: 11%;
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
  filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
}
/*#cardboard{
  position: fixed;
  top: 70vh;
  right: 5vw;
  cursor: pointer;
  height: 13%;
}*/

#fullscreen {
    position: fixed;
    top: 75vh;
    right: 2vw;
    cursor: pointer;
    height: 10%;
    -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
    filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
}

#compass-container {
  position: fixed;
  top: 5vh;
  right: 3vw;
}

#compass {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 3vw;
  -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
  filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));

  .a {
    fill:none;
    stroke:$color-grey--lightest;
    stroke-miterlimit:10;
    stroke-width:24px;
  }

  .b {
    fill: $color-grey--lightest;
  }

  #pointer {
    fill: $color-grey--lightest;
    transform-origin: 50% 130%;
    -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
    filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
  }
}



#footer {
  height: 10%;
  width: 100%;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $color-dark;
  display: flex;
}

#footer-content {
  color: $color-grey--lightest;
  width: 50%;
  overflow-y: auto;
}

#thumbnails {
  width: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.thumbnail {
  max-height: 7.5vh;
  max-width: 150px;
  flex-grow: 1;
  margin-right: 1vw;
  cursor: pointer;
}

.selected-thumbnail {
  border: 1px solid $color-grey--lightest;
}
