@import "mixin";
@import "variables";
@import "loading";
@import "Chrome";

body {
    font-size  : $font-size-base;
    font-family: $fontFamily-sansSerif;
    line-height: $font-line-height;
    margin: 0;
    padding: 0;
}
#scene-vr {
    height: 100vh;
    overflow:hidden;
    #svr-main {
        height: 100vh;
        position:absolute;
        top:0;
        left:0;
        overflow:hidden;
        canvas:hover {
            cursor: grab;
            cursor: -webkit-grab;
        }
        canvas:focus {
            cursor: grabbing;
            cursor: -webkit-grabbing;
        }
        // &:hover {
        //     cursor: grab;
        // }
        // &:active, &:focus {
        //     cursor: grabbing;
        // }
    }
}
