@import "variables";

body {
    font-size  : $font-size-base;
    font-family: $fontFamily-sansSerif;
    line-height: $font-line-height;
}

body.desktop {
    #thumbnails-container {
        #thumbnails {
            display: none;
        }

        .thumbnail {
            max-width: 20vw;
            margin   : 0 1vw 3vh 0;
        }
    }
}

body.mobile {
    #ui {
        #footer {
            height: 20%;
        }

        #fullscreen {
            bottom: 18vh;
            height: 7vh;
            width: 7vh;
        }

        #thumbnails-icon {
            height: 6vh;
            width: 6vh;
        }

        #compass-container {
            top: 3vh;
            #compass {
                height: 6vh;
                width: 6vh;
            }
        }

        #thumbnail-icons-close {
            right: 10px;
            width: 30px;
            height: 30px;
        }

        #thumbnail-icons {
            right: 40px;

            #thumbnail-icons-stack {
                .thumbnail-icon {
                    width: 30px;
                    height: 30px;
                    border: 2px solid #fff;
                }

                .thumbnail-icon:nth-of-type(1) {
                    top: 10px;
                    left: -10px;
                }

                .thumbnail-icon:nth-of-type(2) {
                    top: 5px;
                    left: -5px;
                }

                .thumbnail-icon:nth-of-type(3) {
                    top: 0;
                    left: 0;
                }
            }
        }

        #thumbnails-container {
            top: 3vh;

            #thumbnails {
                display: none;
            }

            .thumbnail {
                max-width: 60vw;
                margin   : 0 3vw 5vh 0;
            }
        }
    }
}

body.modal {
    a-scene {
        opacity: 0.25;
    }

    #ui {
        #fullscreen, #compass {
            pointer-events: none;
            opacity       : 0;
        }

        #thumbnail-icons-close {
            display: block;
        }

        #thumbnail-icons {
            #thumbnail-icons-stack {
                display: none;
            }
        }

        #thumbnails-container {
            pointer-events: none;

            #thumbnails {
                position      : static;
                opacity       : 1;
                pointer-events: auto;
                display       : block;
            }
        }
    }
}

#rendered-template {
    opacity: 0;

    a-scene {
        transition: opacity 0.5s;
    }

    #ui {
        opacity: 1;
        width  : 100vw;
        height : 100vh;
    }

    #black-background {
        width           : 100%;
        height          : 100%;
        background-color: $color-dark;
    }

    #fullscreen {
        position: fixed;
        bottom  : 10vh;
        right   : 2vw;
        cursor  : pointer;
        height  : 10%;
        -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
        filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
    }

    #compass-container {
        position: fixed;
        top     : 5vh;
        right   : 3vw;
    }

    #compass {
        width   : 50px;
        height  : 50px;
        position: fixed;
        right   : 3vw;
        -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
        filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));

        .a {
            fill             : none;
            stroke           : $color-grey--lightest;
            stroke-miterlimit: 10;
            stroke-width     : 24px;
        }

        .b {
            fill: $color-grey--lightest;
        }

        #pointer {
            fill            : $color-grey--lightest;
            transform-origin: 50% 130%;
            -webkit-filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
            filter: drop-shadow(2px 1px 2px rgba(0,0,0,0.4));
        }
    }

    #footer {
        height          : 10%;
        width           : 100%;
        padding         : 10px;
        position        : fixed;
        left            : 0;
        bottom          : 0;
        background-color: $color-dark;
        display         : flex;
    }

    #footer-content {
        color     : $color-grey--lightest;
        width     : 100%;
        overflow-y: auto;
        font-size: 14px;
        line-height:18px;

        .footer-text {
            margin : 0;
            display: none;
        }

        .footer-text.current-footer-text {
            display: block;
        }
    }

    #thumbnails-container {
        position: fixed;
        top     : 5vh;
        left    : 3vw;
        width   : 80vw;
    }

    #thumbnail-icons-close {
        display: none;
        position: fixed;
        top     : 40vh;
        right   : 30px;
        height : 50px;
        width  : 50px;
    }

    #thumbnail-icons {
        display: inline-block;
        position: fixed;
        top     : 40vh;
        right   : 70px;
        cursor    : pointer;
        transition: opacity 0.5s;

        #thumbnail-icons-stack {
            .thumbnail-icon {
                position  : absolute;
                border    : 4px solid #fff;
                height    : 50px;
                width     : 50px;
                object-fit: cover;
                max-width : initial;
            }

            .thumbnail-icon:nth-of-type(1) {
                top: 20px;
                left: -20px;
            }

            .thumbnail-icon:nth-of-type(2) {
                top: 10px;
                left: -10px;
            }

            .thumbnail-icon:nth-of-type(3) {
                top: 0;
                left: 0;
            }
        }
    }

    #thumbnails {
        padding       : 10px;
        opacity       : 0;
        pointer-events: none;
        transition    : opacity 0.5s;
        overflow-y    : auto;
    }

    .thumbnail {
        cursor : pointer;
        display: inline-block;
    }

    .selected-thumbnail {
        border: 1px solid $color-grey--lightest;
    }
}

#loading {
    width           : 100vw;
    height          : 100vh;
    position        : fixed;
    left            : 0;
    top             : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.fade-in {
    animation: 0.5s 1 forwards fadeIn;
    -webkit-animation: 0.5s 1 forwards fadeIn;
}

.fade-out {
    animation: 0.5s 1 forwards fadeOut;
    -webkit-animation: 0.5s 1 forwards fadeOut;
}

@keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }

    to { opacity: 0; }
}
