@import "Mixin";
@import "Variables";
@import "Loading";
@import "Chrome";
@import "Compass";
@import "Buttons";
@import "ThumbnailNav";
@import "Thumbnail";
@import "Caption";

html, body {
    -webkit-text-size-adjust: 100% !important;
}
body {
    font-size  : $font-size-base;
    font-family: $fontFamily-sansSerif;
    font-weight: 400;
    line-height: $font-line-height;
    margin: 0;
    padding: 0;
    height:100%;
    overflow:hidden;
    background-color: $color-bg;
}
#scene-vr {
    -webkit-text-size-adjust: 100% !important;
    height: 100%;
    overflow:hidden;
    background-color: $color-bg;
}

#svr-main {
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    overflow:hidden;
    background-color: $color-bg;
    canvas:hover {
        cursor: grab;
        cursor: -webkit-grab;
    }
    canvas:focus {
        cursor: grabbing;
        cursor: -webkit-grabbing;
    }
    // &:hover {
    //     cursor: grab;
    // }
    // &:active, &:focus {
    //     cursor: grabbing;
    // }
}
